h1 {
  color: rgb(58, 125, 234);
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  color: rgb(56, 56, 56);
  text-align: justify;
  font-size: 8pt;
}

th {
  color: rgb(59, 98, 255);
  font-family: "Arial", sans-serif;
}

td, th {
  padding: 6px;
}

/*
h1 {
    font-size: 16px;
    color: red;
}*/
