@import '../../scss-wspoldzielone/naglowki.scss';
@import '../../scss-wspoldzielone/mixiny.scss';


input.ng-invalid {
    background-color: red;
}

p {
    @include male-pismo;
}

/*h1 {
    color: green;
}*/

/* css
body > div {
    color: red;
    font-size: 16px;
}

body > div > span {
    color: blue;
}

body > div > span span {
    color: yellow;
}
*/

/*sass*/
body > div {
    color: red;
    font-size: 16px;
    > span {
        color:blue;
        span {
            color: yellow;
        }
    }
}

form {
    display: grid;
    grid-template-columns: 200px 300px;
    row-gap: 20px;
    column-gap: 25px;
}

form input, form select, form textarea {
    padding: 5px;
}

.wyslij {
    grid-column-start: 1;
    grid-column-end: 3;
}

.blad {
    grid-column-start: 2;
    grid-column-end: 3;
}

label, .label {
    text-align: right;
    padding: 5px;
}

