<h1>Formularz zapisu</h1>

<p>Proszę wypełnić formularz i nacisnąć przycisk Wyślij</p>
<pre>
{{ forma.value | json}}
</pre>

<form [formGroup]="forma">
    <label for="imieid">Imie</label>
    <input id="imieid" type="text" formControlName="imie">
    <label for="nazwiskoid">Nazwisko</label>
    <input id="nazwiskoid" type="text" formControlName="nazwisko">
    <div *ngIf="forma.controls.nazwisko.errors">
        <div *ngIf="forma.controls.nazwisko.errors['minlength']">
            nazwisko ma 
            {{forma.controls.nazwisko.errors['minlength'].actualLength}}
            znakow a minimalnie musi miec
            {{forma.controls.nazwisko.errors['minlength'].requiredLength}}
            znakow
        </div>
        <div *ngIf="forma.controls.nazwisko.errors['maxlength']">
            nazwisko ma 
            {{forma.controls.nazwisko.errors['maxlength'].actualLength}}
            znakow a maksymalnie moze miec
            {{forma.controls.nazwisko.errors['maxlength'].requiredLength}}
            znakow
        </div>
    </div>

    <label for="aktywnoscId">Typ aktywności zawodowej</label>
    <select id="aktywnoscId" formControlName="aktywnosc">
        <option [ngValue]="null">nie pracuje</option>
        <option ngValue="p">pracujący</option>
        <option ngValue="e">emeryt</option>
        <option ngValue="r">rencista</option>
    </select>

    <label for="kId">Kobieta</label>
    <input type="radio" id="kId" value="k" formControlName="plec">
    <label for="mId">Meżczyzna</label>
    <input type="radio" id="mId" value="m" formControlName="plec">

    <div [formGroup]="forma.controls.napoje">
        <label for="kawaid">Kawa</label>
        <input type="checkbox" id="kawaid" formControlName="kawa">
        <label for="herbataid">Herbata</label>
        <input type="checkbox" id="herbataid" formControlName="herbata">
        <label for="kakaoid">Kakao</label>
        <input type="checkbox" id="kakaoid" formControlName="kakao">
        <label for="colaid">Cola</label>
        <input type="checkbox" id="colaid"  formControlName="cola">
    </div>


</form>

<input type="button" (click)="zmienNazwisko()" value="Zmien Nazwisko">

